/* -----------------------HTML Elements----------------------- */
body{

}
/* -----------------------END----------------------- */
.container-fluid{
  padding: 5% 15% 7%;
}
/* -----------------------Introduction----------------------- */
.introduction{
  padding: 100px 55;
}
/* -----------------------END----------------------- */

/* -----------------------Background Image----------------------- */
.background-img{
  background-image: url("../img/el-nido-palawan-1.jpg");

 /* Full width */
 width:100%;
 background-repeat: no-repeat;
 background-size: cover;
}
/* -----------------------END----------------------- */

/* -----------------------Heading Section----------------------- */
.heading {
  color: white;
  font-weight: bold;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 3%;
}

.heading h1{
  font-size: 7rem;
  line-height: 1.10;
  font-family: 'Dancing Script', cursive;
  color: #fddb3a;
  margin-bottom: 0;
}

.heading h4{
  background-color: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  font-size: 1.25rem;
  font-family: 'Barlow', sans-serif;
}
/* Heading's Blur */
.blur {
  position: relative;
}

/* the 'blur' effect */
.blur:before {
  content: '';
  background-color: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* -----------------------END----------------------- */

/*Search Box css start here*/
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        /* top: -54px; */
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}
/* -----------------------END----------------------- */

/* Services Section */
#services{
    background-color: #ebecf1;
}

.heading-box{
  padding: 7% 7% 2%;
  text-align: center;
}

.card-img{
  display: block;
  margin: 0 auto;
  padding-top: 2%;
  width: 30%;
}
/* -----------------------END----------------------- */

/* About Us Section */
#about-us{
  background-color: #ffc93c;
}

.aboutuscontainer{
  padding: 5% 2%;
}

.logo{
  height: 50vh;
  display: inline;
  padding: 0 auto;
}
/* -----------------------END----------------------- */

/* Gallery Section */
@-moz-keyframes gallery {
  100% {
    opacity: 1;		}
}

@-webkit-keyframes gallery {
  100% {
    opacity: 1;		}
}

@-ms-keyframes gallery {
  100% {
    opacity: 1;		}
}

@keyframes gallery {
  100% {
    opacity: 1;		}
}

.gallery {
  padding: 3.5em;
  position: relative;
  overflow: hidden;
  min-height: 37em;
}

  @media screen and (max-width: 980px) {

    .gallery {
      padding: 2em;
      min-height: 20em;
    }

      .gallery header h2 {
        margin-bottom: 1em;
      }

  }

  @media screen and (max-width: 480px) {

    .gallery {
      padding: 1em;
    }

  }

  .gallery header {
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

    .gallery header.special {
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
    }

    @media screen and (max-width: 736px) {

      .gallery header {
        display: block;
      }

    }

    @media screen and (max-width: 480px) {

      .gallery header h2 {
        margin-bottom: .5em;
      }

    }

  .gallery footer {
    text-align: center;
    margin-top: 4em;
  }

  .gallery .content {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start;
  }

    .gallery .content .media {
      -moz-animation: gallery 0.75s ease-out 0.4s forwards;
      -webkit-animation: gallery 0.75s ease-out 0.4s forwards;
      -ms-animation: gallery 0.75s ease-out 0.4s forwards;
      animation: gallery 0.75s ease-out 0.4s forwards;
      margin-bottom: 0;
      overflow: hidden;
      opacity: 0;
      position: relative;
      width: 25%;
    }

      .gallery .content .media a {
        display: block;
      }

      .gallery .content .media img {
        -moz-transition: -moz-transform 0.2s ease-in-out;
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        -ms-transition: -ms-transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
      }

      .gallery .content .media:hover img {
        -moz-transform: scale(1.075);
        -webkit-transform: scale(1.075);
        -ms-transform: scale(1.075);
        transform: scale(1.075);
      }

      @media screen and (max-width: 736px) {

        .gallery .content .media {
          width: 50%;
        }

      }

      @media screen and (max-width: 480px) {

        .gallery .content .media {
          width: 100%;
        }

      }

      ul.tabs {
  list-style: none;
  padding-left: 0;
}

  ul.tabs li {
    display: inline-block;
  }

    ul.tabs li:first-child {
      padding: 0;
    }

    @media screen and (max-width: 736px) {

      ul.tabs li {
        display: block;
        margin: 0 0 .25em 0;
        padding: 0;
      }

        ul.tabs li .button {
          width: 100%;
        }

    }

  @media screen and (max-width: 480px) {

    ul.tabs {
      margin-bottom: 1em;
    }
  }

  .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background: #19B5FE;
  color: #FFF;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
  button.active,
  .button.active {
    color: #FFF;
    background: #22313F;
  }
    button.active:hover,
    .button.active:hover {
      color: #FFF;
      background: #22313F;
    }

  button:hover,
  .button:hover {
    color: #FFF;
    background: #019be3;
  }
/* -----------------------END----------------------- */

/* Featured-products Section*/
#featured-products{
  background-color: #ebecf1;
}
/* -----------------------END----------------------- */

/* Footer Section */
#footer{
  background-color: #07689f;
  color: #fff;
}

.footer-container{
  padding: 2.5% 10% 5%;
}

.footer-list{
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.footer-items{
  display: inline-block;
  padding: 0 5px;
}

.footer-items a{
  color: black;
}

.footer-items a:hover{
  color: #fff;
}

.question-text{
  text-align: center;
}
/* -----------------------END----------------------- */

/* Video Testimonial block starts here */
.video-testimonial-block { position: relative; width: auto; height: 206px; overflow: hidden; margin-bottom: 30px; }
.video-testimonial-block .video-thumbnail { height: 100%; width: 100%; position: absolute; z-index: 1; background-size: cover; top: 0; left: 0; }
.video-testimonial-block .video { }
.video-testimonial-block .video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0px; }
.video-testimonial-block .video-play { position: absolute; z-index: 2; top: 50%; left: 50%; margin-left: -40px; margin-top: -18px; text-decoration: none; }
.video-testimonial-block .video-play::before { content: "\f144"; font: normal normal normal 14px/1; font-family: 'Font Awesome\ 5 Free'; font-weight: 900; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 50px; color: #b3b5bc; }
.video-testimonial-block .video-play:hover::before { color: #172651; }
.mb10{margin-bottom:10px;}
.section-title { margin-bottom: 40px; }

/* -----------------------END----------------------- */
